
.logo-style{
    height: 125px;
    width: auto;
}
.margin-style{
    margin-right: 5rem!important;
    font-weight: bold!important;
    font-size: 20px!important;
    color: #8E8E8E!important;
    transition: 0.4s!important;

}
.last-child{
    border-radius: 20px;
    border: 2px solid whitesmoke;
    padding: 15px 20px;
    background-color: #139545;



}
.margin-style:hover{
    transform: scale(1.1)!important;
   /* background-color: rgba(19, 149, 69, 0.8);*/
    background-color: white!important;
    color:#139545 !important;
}
.carousel-style{
    color:#139545!important ;
}
.font-size{
    font-size: 25px;
    min-font-size: 10px;
}

.our-messages{
    width: 100%;


    min-height: 30vh;
    border-radius: 20px;
    background-color: whitesmoke;
    margin-top: 35px;
    box-shadow: 5px 27px 13px -24px rgba(49,39,36,0.5);
    -webkit-box-shadow: 5px 27px 13px -24px rgba(49,39,36,0.5);
    -moz-box-shadow: 5px 27px 13px -24px rgba(49,39,36,0.5);

}


.learn-style{
    border: 2px solid #139545;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    color: #139545;
    transition: 0.4s;

}
.learn-style:hover{
    transform: scale(1.1);
    background-color: #139545;
    color: white;
}

.our-misson{
    width: 100%;
    float: right;
    margin-top: 62px;
    min-height: 30vh;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 5px 27px 13px -24px rgba(49,39,36,0.5);
    -webkit-box-shadow: 5px 27px 13px -24px rgba(49,39,36,0.5);
    -moz-box-shadow: 5px 27px 13px -24px rgba(49,39,36,0.5);

}
.our-visson{
    width: 100%;
    float: right;
    min-height: 30vh;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 5px 27px 13px -24px rgba(49,39,36,0.5);
    -webkit-box-shadow: 5px 27px 13px -24px rgba(49,39,36,0.5);
    -moz-box-shadow: 5px 27px 13px -24px rgba(49,39,36,0.5);
}
.bg-green{
    background-color: #139545;
}

.catalog-img{
    height: 280px;
    width: 80%;
    margin-bottom: 10px;



}
.catalog-img-size{
    height: 100%;
    width: 80%;
    margin: 0 auto;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


}
.about-coustomer{
    max-margin: -290px auto;
    width: 80%;
    top: 200px;
}
.footer{
    min-height: 400px;
    width: 100%;
    background-color: #3D4043;
}
.link-decoration{
    text-decoration: none;
    color: white;


}
.fs-4x{
    font-size: 50px;
    text-align: center;
    margin-right: 20px;
}